@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --light-yellow: #F1E9C9;
    --middle-yellow: #DBAC2C;
    --dark-yellow: #C47F17;
  
    --light-purple: #EBE5F9;
    --middle-purple: #8047F8;
    --dark-purple: #4B2995;
  
    --light-brown: #8D8686;
    --brown: #574F4D;
    --middle-brown: #403937;
    --dark-brown: #272221;
  
    --light-gray: #F3F2F2;
    --gray: #EDEDED;
    --middle-gray: #E6E5E5;
    --dark-gray: #D7D5D5;
  
    --light-white: #FFFFFF;
    --dark-white: #FAFAFA;
  
    /* Spacing */
    --spacing-none: 0px;
    --spacing-4xs: 8px;
    --spacing-2xs: 12px;
    --spacing-xs: 16px;
    --spacing-sm: 20px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-2xl: 48px;
    --spacing-4xl: 56px;
  
    /* Font Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 32px;
    --text-4xl: 48px;
  
    /* Line Height */
    --line-sm: 130%;
    --line-md: 160%;
  
    /* Font Family */
    --font-baloo: 'Baloo 2', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
  }
}

body {
  background-color: var(--dark-white)
}